/* sharad styles */
* {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

main section {
    margin: 120px 140px;
}


.section-header {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
}

.section-sub-title-primary {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
}

.section-sub-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
}

.section-title-primary {
    color: #070211;
    text-align: left;
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    margin: 0px;
}

.section-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
}

.section-title-secondary {
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px
}

.section-discration-primary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;

}

.section-discration-secondary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    text-align: center;
    padding: 10px 120px;
    margin: 0px;

}

.section-discration {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
}


/* header related styles */
header {
    margin: 50px 140px 0px 140px;
}

.banner-container {
    background: linear-gradient(#070211, rgba(7, 2, 17, 0.00)), url('../images/Bannerimage.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    padding: 100px 170px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 400;
}

.main-banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 68px;
    font-weight: 900;
}

/* party section styles */

.midnight-party-section {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../images/party.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 140px 0px;
    border-radius: 16px;
}

.party-container {
    display: flex;
    padding: 50px 120px;
    text-align: center;
}

.party-items {
    text-align: left;
}

.btn-primary {
    background-color: rgba(32, 24, 24, 0);
    border: none;
}

.btn-primary a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

/* party-location-styles */
.party-location-container {
    padding: 80px 0px;
    background: linear-gradient(rgba(255, 0, 0, .1), rgba(255, 0, 0, 0));
    border-radius: 16px;

}

.party-location-container span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0px;
}

.party-location-container h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0px;
}

.btn-secondary {
    margin-top: 50px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
}

.btn-secondary a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}


/* comming-soon-styles */

.comming-soon-container {
    display: flex;
    gap: 12px;
}

.comming-soon-container div {
    width: 400px;
    height: 400px;
    text-align: left;
}

.comming-soon-section-sub-title {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 80px;
}

.comming-soon-img img {
    height: auto;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    border: 10px solid #F00;
    margin: 0px;
}

.connimng-soon-newyear {
    margin-left: 90px;
}

.connimng-soon-newyear h5 {
    text-align: left;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    margin-top: 70px;
}



/* holidays-section-styles  */
.Holidays-section-title {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0px;
}

.holidays-section-full-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0px;
    margin-bottom: 10px;
}
.holidays-img-container {
    display: flex;
    background: url('../images/Rectangle 2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: 60px;
    gap: 200px;
}


.holidays-img-section{
    width: 100%;
    height: auto;
    padding: 0px;
    padding-bottom: 106px;
    margin: 0px;
    

}
.left-img{
    padding-top: 150px;
}
.left-img img{
    width:100%;
    height: auto;
}
.right-img{
    background: url('../images/Rectangle 1.png');
    background-repeat: no-repeat;
}
.right-img img{
    margin-top: 70px;
    margin-left: -450px;
}

